body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }

  img {
      max-width: 100%;
      display: block;
  }

  /*article {
    display: flex;
    flex: 50%;
  }

  aside {
    display: flex;
    flex: 50%;
  }*/
  
  .logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
  }
  
  .grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  
  nav {
    background-color: #000;
    padding: .5em;
    position: fixed; /* Set the navbar to fixed position */
    width: 100%;
  
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .photos {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
    grid-auto-rows: minmax(100px, auto);
  }

  .feature {
      width: 200px;
  }